In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://www.imdb.com/chart/top/?ref_=nv_mv_250'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, 'html.parser')

In [3]:
movies = soup.find('ul', class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-a1e81754-0 eBRbsI compact-list-view ipc-metadata-list--base").find_all('h3')

In [109]:
title = []

for movie in movies:
    title.append(movie.text.split('.')[1].strip())

In [108]:
rank = []

for movie in movies:
    rank.append(movie.text.split('.')[0].strip())

In [38]:
imdb_ratings = soup.find('ul', class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-a1e81754-0 eBRbsI compact-list-view ipc-metadata-list--base").find_all('div',class_="sc-e2dbc1a3-0 ajrIH sc-b189961a-2 fkPBP cli-ratings-container")

In [52]:
imdb_ratings_list = []
for imdb_rating in imdb_ratings:
    imdb = imdb_rating.find('span').text.strip()
    imdb_ratings_list.append(imdb[0:3])

In [ ]:
imdb_ratings_list

In [87]:
all_data = soup.find('ul', class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-a1e81754-0 eBRbsI compact-list-view ipc-metadata-list--base").find_all('div',class_="sc-b189961a-7 feoqjK cli-title-metadata")

In [99]:

year = []
hour = []
for data in all_data:
    year_hour = data.find_all('span')
    year.append(year_hour[0].text)
    hour.append(year_hour[1].text)

In [101]:
# Create a dictionary with keys as column names and values as lists
data = {
    'Rank': rank,
    'Movie Title': title,
    'IMDB Rating': imdb_ratings_list,
    'Year': year,
    'Hour': hour
}

In [102]:
df = pd.DataFrame(data = data)

In [107]:
df.to_csv('top_250_movie.csv', index= False)

    Rank               Movie Title IMDB Rating  Year    Hour
0      1  The Shawshank Redemption         9.3  1994  2h 22m
1      2             The Godfather         9.2  1972  2h 55m
2      3           The Dark Knight         9.0  2008  2h 32m
3      4    The Godfather: Part II         9.0  1974  3h 22m
4      5              12 Angry Men         9.0  1957  1h 36m
..   ...                       ...         ...   ...     ...
245  246     It Happened One Night         8.1  1934  1h 45m
246  247        Dances with Wolves         8.0  1990   3h 1m
247  248                   Aladdin         8.0  1992  1h 30m
248  249                  Drishyam         8.2  2015  2h 43m
249  250            Kill Bill: Vol         8.0  2004  2h 17m

[250 rows x 5 columns]